*.bak
Documentation/html
Documentation/Doxygen/rtx.dxy
Documentation/Doxygen/*.tag
Documentation/Doxygen/src/history.txt
Examples/**/tmp
Examples/Blinky/*.cbuild.yml
Examples/Blinky/*.cbuild-*.yml
Examples/Blinky/RTE/Device/ARMCM3/ac6_linker_script.sct.src
Examples/Blinky/out/Blinky/Simulator/compile_commands.json
build
output
**.DS_STORE
*.tar.bz2
*.lib
*.a
.clangd
**/out
**/tmp
.vscode

# Output of the linkchecker tool
linkchecker-out.csv
.vscode/settings.json
