# Ignored documentation outputs
Documentation/html
Documentation/Doxygen/rtx.dxy
Documentation/Doxygen/*.tag
Documentation/Doxygen/src/history.txt

# Ignored IDE and cbuild outputs
**/out
**/tmp
**.cbuild*.yml
**.clangd
**.vscode

# Ignored gen_pack outputs
build
output
**/linkchecker-out.csv

# Ignored libraries
**.a
**.lib

# Other files and directories
**.bak
**.DS_STORE
**.tar.bz2
