name: Build RTX5 libraries
on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  ARM_UBL_ACTIVATION_CODE: ${{ secrets.ARM_UBL_ACTIVATION_CODE }}
  IAR_LMS_BEARER_TOKEN: ${{ secrets.IAR_LMS_BEARER_TOKEN }}

jobs:
  libs:
    if: |
      github.event_name != 'release' ||
      (github.event_name == 'release' && startsWith(github.ref, 'refs/tags/v'))
    name: Build libraries
    runs-on: ubuntu-24.04
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install system packages
        run: |
          sudo apt-get install libtinfo6

      - name: Cache packs
        uses: actions/cache@v5
        with:
          key: packs-${{ github.run_id }}
          restore-keys: |
              packs-
          path: /home/runner/.cache/arm/packs

      - name: Setup build environment
        uses: ARM-software/cmsis-actions/vcpkg@v1.1
        with:
          config: ./Library/vcpkg-configuration.json

      - name: Activate Arm tool license
        uses: ARM-software/cmsis-actions/armlm@v1.1
        with:
          code: ${{ env.ARM_UBL_ACTIVATION_CODE }}

      - name: Build libraries
        working-directory: ./Library
        run: |
          ./build.sh -t AC6
          ./build.sh -t GCC
          ./build.sh -t CLANG
          ./build.sh -t IAR

      - name: Archive libraries
        working-directory: ./Library
        run: |
          tar -cvjf RTX_Lib.tar.bz2 ARM/* GCC/* CLANG/* IAR/*
    
      - name: Upload Library archive
        uses: actions/upload-artifact@v6
        with:
          name: RTX_Lib
          path: ./Library/RTX_Lib.tar.bz2
