name: Build RTX5 libraries
on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
    
env:
  ARM_UBL_ACTIVATION_CODE: ${{ secrets.ARM_UBL_ACTIVATION_CODE }}
  
jobs:
  libs:
    if: |
      github.event_name != 'release' ||
      (github.event_name == 'release' && startsWith(github.ref, 'refs/tags/v'))
    name: Build libraries
    runs-on: ubuntu-24.04
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install system packages
        run: |
          sudo apt-get install libtinfo6

      - name: Cache packs
        uses: actions/cache@v4
        with:
          key: packs-${{ github.run_id }}
          restore-keys: |
              packs-
          path: /home/runner/.cache/arm/packs

      - name: Prepare vcpkg env
        uses: ARM-software/cmsis-actions/vcpkg@main
        with:
          config: ./Library/vcpkg-configuration.json

      - name: Activate Arm tool license
        run: |
          if [[ -n "${{ env.ARM_UBL_ACTIVATION_CODE }}" ]]; then
              armlm activate --code ${{ env.ARM_UBL_ACTIVATION_CODE }}
          else
              armlm activate --server https://mdk-preview.keil.arm.com --product KEMDK-COM0
          fi

      - name: Build libraries
        working-directory: ./Library
        run: |
          ./build.sh -t AC6
          ./build.sh -t GCC
          ./build.sh -t CLANG
          # ./build.sh -t IAR

      - name: Deactivate Arm tool license
        if: always()
        run: |
          if [[ -n "${{ env.ARM_UBL_ACTIVATION_CODE }}" ]]; then
              armlm deactivate --code ${{ env.ARM_UBL_ACTIVATION_CODE }}
          else
              armlm deactivate --product KEMDK-COM0
          fi
    
      - name: Archive libraries
        working-directory: ./Library
        run: |
          tar -cvjf RTX_Lib.tar.bz2 ARM/* GCC/* CLANG/*
    
      - name: Upload Library archive
        uses: actions/upload-artifact@v6
        with:
          name: RTX_Lib
          path: ./Library/RTX_Lib.tar.bz2
